# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [9]:
# Your code goes here
import pandas as pd
pd.set_option('display.max_columns', 500)

df1 = pd.read_csv('clean_customers.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

import ssl

ssl._create_default_https_context = ssl._create_unverified_context
import os
os.listdir()

from pipeline_functions import whole_pipeline

# cleaning works since renaming is done first
df2 = whole_pipeline(df2)
df3 = whole_pipeline(df3)
#df2.head()

df = pd.concat([df1,df2,df3], axis=0 )
df.tail()
df.duplicated().sum()

0

In [1]:
# raiana - can do reanme first, concat and then use cleaning function
import pandas as pd
df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv').rename(columns={'State':'ST','Gender':'Gender'})

from pipeline_functions import whole_pipeline
df4 = pd.concat([df1,df2,df3])
df4 = whole_pipeline(df4)

AttributeError: 'DataFrame' object has no attribute 'map'

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [11]:
# Your code goes here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df_customers = pd.read_csv(url)

df_customers.head(5)
print(df_customers.columns)
df_customers.pivot_table(index='sales_channel', columns=['customer'], values=['monthly_premium_auto']).agg('sum',axis=1)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

In [13]:
df_customers['total_revenue'] = df_customers['monthly_premium_auto'] * df_customers['months_since_policy_inception']

In [14]:
df_customers.pivot_table(index='sales_channel', values=['monthly_premium_auto'],aggfunc='sum').round(2)
df_customers.pivot_table(index='sales_channel', values=['total_revenue'],aggfunc='sum').round(2)

               total_revenue
sales_channel
Agent               18534081
Branch              13711669
Call Center          9376066
Web                  7475544

In [15]:
df_customers['customer_value'] = df_customers['number_of_policies'] * df_customers['monthly_premium_auto'] * df_customers['months_since_policy_inception']
df_customers.groupby('sales_channel')[['total_revenue']].sum().round(2)

               total_revenue
sales_channel
Agent               18534081
Branch              13711669
Call Center          9376066
Web                  7475544

In [17]:
pd.pivot_table(df_customers,index='gender',columns='education',values='customer_lifetime_value',aggfunc='mean').round(2)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [21]:
# Your code goes here
df_customers.melt(id_vars=['policy_type','number_of_policies'], value_vars=['month'])

          policy_type  number_of_policies variable  value
0      Corporate Auto                   9    month      2
1       Personal Auto                   1    month      1
2       Personal Auto                   2    month      2
3      Corporate Auto                   2    month      1
4       Personal Auto                   7    month      1
...               ...                 ...      ...    ...
10905   Personal Auto                   7    month      1
10906   Personal Auto                   6    month      1
10907  Corporate Auto                   2    month      2
10908   Personal Auto                   6    month      2
10909   Personal Auto                   3    month      1

[10910 rows x 4 columns]

In [22]:
pd.pivot_table(df_customers,index='policy_type',columns='month',values='number_of_open_complaints',aggfunc='sum') # wide

month                     1            2
policy_type
Corporate Auto   443.434952   385.208135
Personal Auto   1727.605722  1453.684441
Special Auto      87.074049    95.226817

In [24]:
pd.pivot_table(df_customers,index=['policy_type','month'],values='number_of_open_complaints',aggfunc='sum') # long, solution

                      number_of_open_complaints
policy_type    month
Corporate Auto 1                     443.434952
               2                     385.208135
Personal Auto  1                    1727.605722
               2                    1453.684441
Special Auto   1                      87.074049
               2                      95.226817